*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.scroll-container {
    height: 90vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth; /* Make the scroll transition smooth and slow */
  }

section{
    scroll-snap-align: start;

}